body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 40px;
}

h1 {
    color: #0096FF;
}

h2 {
    color: ##OOBFOO;
}

ul {
    background: #2a2a2a;
    padding: 15px;
    border-radius: 15px;
}

li {
    margin: 18px 0;
}
